@import "./templates.scss";

.dasboardContent {
    width: 100svw;
    height: auto;
    @extend %centerTemplate;
    flex-direction: column;
    background: url("../assets/colors.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}